PORT=5008

NOTIFICATION_MONGO_URI=mongodb+srv://<user>:<password>@cluster0.caoeucc.mongodb.net/sms-notifications-db?retryWrites=true&w=majority
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.caoeucc.mongodb.net/sms-notifications-db?retryWrites=true&w=majority

JWT_SECRET=your_jwt_secret_here
INTERNAL_SECRET=your_internal_secret_here
ALLOWED_ORIGINS=http://localhost:5173,https://sms-web-ui.vercel.app

VAPID_PUBLIC_KEY=your_vapid_public_key
VAPID_PRIVATE_KEY=your_vapid_private_key
VAPID_SUBJECT=mailto:admin@yourdomain.com
