VITE_PLATFORM_API_URL=http://localhost:5000
VITE_AUTH_API_URL=http://localhost:5001
VITE_USER_API_URL=http://localhost:5002
VITE_APP_ENV=development # production
VITE_IMAGEKIT_PUBLIC_KEY=''
VITE_IMAGEKIT_PRIVATE_KEY=''
VITE_IMAGEKIT_ID=sms
VITE_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/sms
VITE_CHAT_API_URL=https://sm-chat-service-production.up.railway.app
VITE_CHAT_WS_URL=wss://sm-chat-service-production.up.railway.app
VITE_NOTIF_API_URL=http://localhost:5008
VITE_NOTIF_WS_URL=ws://localhost:5008
VITE_VAPID_PUBLIC_KEY=your_vapid_public_key_here